/* @font-face {
    font-family: 'Blooming Elegant';
    src: url('../fonts/Blooming\ Elegant\ Sans.otf') format('opentype');
}
@font-face {
    font-family: 'Blooming Elegant Bold';
    src: url('../fonts/Blooming\ Elegant\ Sans\ Bold.otf') format('opentype');
} */
/* @import url(//db.onlinewebfonts.com/c/ed05b4a9a5a28a921411d57fca3da7af?family=ArnoldSamuelsW00-Regular); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
body {
    padding: 0;
    background: black;
    font-family: 'Roboto Mono', monospace;
    color: white;
    
}
.efb-tab {
    border: 2px solid rgb(156, 156, 156);
    width: 100%;
}
.efb-condition {
    /* height: 500px; */
    font-size: 18px;
    padding-bottom: 10px;
    
}
.efb-rwy-computation {
    height: 250px;
}
.efb-base {
    margin-top: 50px;
}
.efb-results {
    height: 388px;
}
.efb-normal {
    height: 200px;
    line-height: 200px;
}
.efb-header {
    height: 25px;
    width: 100%;
    background-color: rgb(110, 110, 110);
    line-height: 25px;
    text-transform: uppercase;
    text-align: left;
    text-indent: 10px;
}
.mt {
    margin-top: 5px;
}
.mt1 {
    margin-top: 5px;
}
.ml {
    margin-left: 10px;
}
.ml1 {
    margin-left: -5px;
}
.condition-text {
    text-align: left;
}

.efb-blue {
    color: rgb(0, 219, 255);
}
.efb-input {
    background: black;
    border: 3.5px solid lightgrey;
    width: 100%;
    height: 21px;
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    outline: none;
}
.col-md-3-5 {
    -ms-flex-preferred-size: 28.333%;
    flex-basis: 28.333%;
    max-width: 28.333%;
}
.efb-field-text {
    text-align: left;
    /* font-size:20px; */
    text-transform: uppercase;
}
.efb-field-group {
    margin-top: 10px
}
.efb-field-text-full {
    padding: 0;
    padding-left: 1rem;
}
.efb-float-align-right {
    text-align:right;
    float:right
}


.efb-select-input-wrap {
    position: relative;
    height: auto;
}
.efb-select-input-wrap > .efb-dropbox {
    position: absolute;
    right: 2px;
    background: #808080;
    width: 25px;
    top: 4px;
    height: 23px;
    box-sizing: border-box;
    border-right: 2.5px solid lightgrey;
    border-bottom: 2.5px solid #d3d3d3;
    line-height: 20px;
    cursor: pointer;
}
.efb-tow-field-text {
    font-size: 22px;
    font-weight: bold;
}
.efb-tow-input {
    height: 25px;
    font-size: 25px;
}
.efb-select-input {
    height: 29px;
    background: url('dropdown_arrow.png') no-repeat right;
    -webkit-appearance: none;
    background-size: 24px;
    cursor: pointer;
}
.efb-white {
    color: rgb(238, 238, 238);
}
.efb-orange {
    color:  rgb(255, 191, 0);
}
.efb-pretend-select {
    width: auto !important;
}
.efb-dropbox-pretend {
    right: 67px !important;
}
.efb-select-pretend-box {
    background: rgb(110, 110, 110);
    width: 200px;
    padding-bottom: 10px;
    transform: translate(-50%);
    margin-left: 50%;
    position: absolute;
}